In [306]:
import pandas  as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
col = ['date', 'rate', 'review_text', 'object_address']
path = '/Users/camille/repo/Hetic/projet_gouv/scraping/Data/google_reviews.csv'
data =pd.read_csv(path, usecols=col)

data['date'] = data['date'].replace('a year ago', '1 year ago')
data['date'] = data['date'].replace('a month ago','1 month ago')
data['date'] = data['date'].replace('a week ago','1 week ago')

current_datetime = datetime.now()
data['date'] = data['date'].apply(lambda x: current_datetime - relativedelta(years=int(x.split()[0])) if 'year' in x
                                     else current_datetime - relativedelta(months=int(x.split()[0])) if 'month' in x
                                     else current_datetime - relativedelta(weeks=int(x.split()[0])) if 'week' in x
                                     else current_datetime - relativedelta(days=int(x.split()[0])) if 'day' in x
                                     else None)



# Extraire uniquement la partie de la date
data['date'] = data['date'].apply(lambda x: x.date())

In [147]:
col = ['date', 'rate', 'review_text', 'object_address']

In [148]:
path = '/Users/camille/repo/Hetic/projet_gouv/scraping/Data/google_reviews.csv'
data =pd.read_csv(path, usecols=col)

In [149]:

data['date'] = data['date'].replace('a year ago', '1 year ago')
data['date'] = data['date'].replace('a month ago','1 month ago')
data['date'] = data['date'].replace('a week ago','1 week ago')

current_datetime = datetime.now()
data['date'] = data['date'].apply(lambda x: current_datetime - relativedelta(years=int(x.split()[0])) if 'year' in x
                                     else current_datetime - relativedelta(months=int(x.split()[0])) if 'month' in x
                                     else current_datetime - relativedelta(weeks=int(x.split()[0])) if 'week' in x
                                     else current_datetime - relativedelta(days=int(x.split()[0])) if 'day' in x
                                     else None)



# Extraire uniquement la partie de la date
data['date'] = data['date'].apply(lambda x: x.date())

In [315]:
data

,date,rate,review_text,object_address
0,2017-05-21,5,Perfect service! The team is so professional. ...,"10 Rue Brancion, 75015 Paris"
1,2023-03-21,1,Inadmissible et honteux tout simplement. Atten...,"10 Rue Brancion, 75015 Paris"
2,2023-01-21,2,Accueilli par une personne féminine d'un âge c...,"10 Rue Brancion, 75015 Paris"
3,2023-05-07,1,"Je suis Hassan Bashir, j'ai besoin de rendez-v...","10 Rue Brancion, 75015 Paris"
4,2022-05-21,1,De loin la pire agence.\nD'une incompétence sa...,"10 Rue Brancion, 75015 Paris"
...,...,...,...,...
672,2017-05-21,5,NaN,"9 Rue Friant, 75014 Paris"
673,2019-05-21,4,NaN,"9 Rue Friant, 75014 Paris"
674,2018-05-21,1,NaN,"9 Rue Friant, 75014 Paris"
675,2022-10-21,1,NaN,"9 Rue Friant, 75014 Paris"
676,2018-05-21,2,NaN,"9 Rue Friant, 75014 Paris"

In [14]:
!pip install plotly

Collecting plotly
  Using cached plotly-5.14.1-py2.py3-none-any.whl (15.3 MB)
Requirement already satisfied: packaging in ./clean_data_env/lib/python3.10/site-packages (from plotly) (23.1)
Collecting tenacity>=6.2.0
  Using cached tenacity-8.2.2-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.14.1 tenacity-8.2.2
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Users/camille/repo/Hetic/projet_gouv/scraping/clean_data_env/bin/python3 -m pip install --upgrade pip' command.

In [151]:
import plotly.express as px
#plot with date, number of reviews
nb_reviews = data.groupby('date').count().reset_index()

In [152]:
import pandas as pd
import plotly.express as px

data['date'] = pd.to_datetime(data['date'])

# Regrouper les données par année
data['years'] = data['date'].dt.to_period('Y')

# Convertir les valeurs 'Period' en chaînes de caractères
data['years'] = data['years'].astype(str)

# Calculer le nombre de reviews, la note moyenne, la note la plus basse et la note la plus haute par année
nb_reviews = data.groupby('years').agg({'rate': ['count', 'mean', 'min', 'max']}).reset_index()
nb_reviews.columns = ['years', 'nombre de reviews', 'note moyenne', 'note la plus basse', 'note la plus haute']

# Créer un graphique avec l'année, le nombre de reviews et la note moyenne
fig = px.line(nb_reviews, x='years', y='nombre de reviews', text='note moyenne')
fig.update_traces(texttemplate='%{text:.1f}', textposition='top center', 
                  hovertemplate='Année: %{x}<br>Nombre de reviews: %{y}<br>Note moyenne: %{text:.1f}<br>Note la plus basse: %{customdata[0]:.1f}<br>Note la plus haute: %{customdata[1]:.1f}',
                  customdata=nb_reviews[['note la plus basse', 'note la plus haute']].values)
fig.update_layout(hovermode="x unified")
fig.update_traces(mode="markers+lines")
fig.update_layout(xaxis={'type': 'category'})
fig.show()

In [316]:
location = data.groupby('object_address').count().reset_index()

In [317]:
import pandas as pd
import plotly.express as px

data['date'] = pd.to_datetime(data['date'])

# Regrouper les données par lieu (object_address) et année
location = data.groupby(['object_address', 'years']).agg({'rate': ['count', 'mean']}).reset_index()
location.columns = ['object_address', 'years', 'nombre de reviews', 'note moyenne']


test = loc.merge(location, on='object_address', how='left')

KeyError: 'years'

In [154]:
loc.rename(columns={'adresse':'object_address'}, inplace=True)

In [354]:
loc

,Unnamed: 0,name,object_address,location
0,0,pole emploi AVS Placement Artistes,10 RUE BRANCION 75015 Paris,pole emploi AVS Placement Artistes 10 RUE BRAN...
1,1,Pole emploi Beaumarchais,11 RUE PELEE 75011 Paris,Pole emploi Beaumarchais 11 RUE PELEE 75011 Paris
2,2,Pole emploi Cardinet,8 RUE Bernard Buffet 75017 Paris,Pole emploi Cardinet 8 RUE Bernard Buffet 7501...
3,3,pole emploi Armand Carrel,44 RUE Armand Carrel 75019 Paris,pole emploi Armand Carrel 44 RUE Armand Carrel...
4,4,Pole emploi Vitruve,60 RUE Vitruve 75020 Paris,Pole emploi Vitruve 60 RUE Vitruve 75020 Paris
5,5,Pole emploi Daviel,27 RUE Daviel 75013 Paris,Pole emploi Daviel 27 RUE Daviel 75013 Paris
6,6,Pole emploi Laumière,75 AVENUE JEAN JAURES 75019 Paris,Pole emploi Laumière 75 AVENUE JEAN JAURES 750...
7,7,Pole emploi Genevoix,11 RUE Maurice Genevoix 75018 Paris,Pole emploi Genevoix 11 RUE Maurice Genevoix 7...
8,8,Pole emploi Diderot,3 BOULEVARD Diderot 75012 Paris,Pole emploi Diderot 3 BOULEVARD Diderot 75012 ...
9,9,Pole emploi Paul Lelong,4 RUE Paul Lelong 75002 Paris,Pole emploi Paul Lelong 4 RUE Paul Lelong 7500...
10,10,Pole emploi Vicq d'Azir,26 RUE Vicq d'Azir 75010 Paris,Pole emploi Vicq d'Azir 26 RUE Vicq d'Azir 750...
11,11,Pole emploi Brancion,10 RUE Brancion 75015 Paris,Pole emploi Brancion 10 RUE Brancion 75015 Paris
12,12,Pole emploi Ney,78 BOULEVARD Ney 75018 PARIS,Pole emploi Ney 78 BOULEVARD Ney 75018 PARIS
13,13,Pole emploi Piat,51 RUE Piat 75020 PARIS,Pôle emploi - Paris 20ème Piat
14,14,Pole emploi Jean Moulin,9 RUE FRIANT 75014 PARIS,Pole emploi Jean Moulin 9 RUE FRIANT 75014 PARIS

In [346]:
import pandas as pd
import plotly.express as px

data['date'] = pd.to_datetime(data['date'])

# Regrouper les données par lieu (object_address) et année
location = data.groupby(['object_address']).agg({'rate': ['count', 'mean']}).reset_index()
location.columns = ['object_address', 'nombre de reviews', 'note moyenne']

location['object_address'] = location['object_address'].str.replace(',', '')
location['object_address'] = location['object_address'].str.lower()

In [347]:
lieux = location['object_address'].unique()

In [348]:
location['object_address'] = location['object_address'].str.replace('11 rue pelée 75011 paris', '11 rue pelee 75011 paris')
location['object_address'] = location['object_address'].str.replace('3 bd diderot 75012 paris', '3 boulevard diderot 75012 paris')
location['object_address'] = location['object_address'].str.replace('75 av. jean jaurès 75019 paris', '75 avenue jean jaures 75019 paris')
location['object_address'] = location['object_address'].str.replace('78 bd ney 75018 paris', '78 boulevard ney 75018 paris')

In [403]:
for lieu in lieux:
    if lieu not in address_to_lieu:
        print(f"Lieu '{lieu}' non trouvé dans address_to_lieu")

Lieu '11 rue pelée 75011 paris' non trouvé dans address_to_lieu
Lieu '3 bd diderot 75012 paris' non trouvé dans address_to_lieu
Lieu '75 av. jean jaurès 75019 paris' non trouvé dans address_to_lieu
Lieu '78 bd ney 75018 paris' non trouvé dans address_to_lieu
Lieu 'ƒadam' non trouvé dans address_to_lieu

In [350]:
location.drop(location[location['object_address'] == 'ƒadam'].index, inplace=True)

In [351]:
address_to_lieu

{'10 RUE BRANCION 75015 Paris': 'pole emploi AVS Placement Artistes',
 '11 RUE PELEE 75011 Paris': 'Pole emploi Beaumarchais',
 '8 RUE Bernard Buffet 75017 Paris': 'Pole emploi Cardinet',
 '44 RUE Armand Carrel 75019 Paris': 'pole emploi Armand Carrel',
 '60 RUE Vitruve 75020 Paris': 'Pole emploi Vitruve',
 '27 RUE Daviel 75013 Paris': 'Pole emploi Daviel',
 '75 AVENUE JEAN JAURES 75019 Paris': 'Pole emploi Laumière',
 '11 RUE Maurice Genevoix 75018 Paris': 'Pole emploi Genevoix',
 '3 BOULEVARD Diderot 75012 Paris': 'Pole emploi Diderot',
 '4 RUE Paul Lelong 75002 Paris': 'Pole emploi Paul Lelong',
 "26 RUE Vicq d'Azir 75010 Paris": "Pole emploi Vicq d'Azir",
 '10 RUE Brancion 75015 Paris': 'Pole emploi Brancion',
 '78 BOULEVARD Ney 75018 PARIS': 'Pole emploi Ney',
 '51 RUE Piat 75020 PARIS': 'Pole emploi Piat',
 '9 RUE FRIANT 75014 PARIS': 'Pole emploi Jean Moulin'}

In [302]:
address_to_lieu = loc.set_index('object_address')['name'].to_dict()

# Ajouter la colonne "name" au DataFrame location en utilisant la correspondance de object_address
location['object_address'] = location['object_address'].map(address_to_lieu)

In [345]:
location

   object_address  date  rate  review_text
0             NaN   124   124           66
1             NaN    29    29           20
2             NaN    32    32           22
3             NaN    31    31           23
4             NaN    82    82           53
5             NaN    54    54           33
6             NaN    27    27           16
7             NaN    47    47           23
8             NaN    20    20           10
9             NaN    35    35           22
10            NaN    25    25            9
11            NaN    54    54           38
12            NaN    77    77           51
13            NaN    39    39           26
14            NaN     1     1            1

In [259]:
address_to_lieu

{'10 rue brancion 75015 paris': 'Pole emploi Brancion',
 '11 rue pelee 75011 paris': 'Pole emploi Beaumarchais',
 '8 rue bernard buffet 75017 paris': 'Pole emploi Cardinet',
 '44 rue armand carrel 75019 paris': 'pole emploi Armand Carrel',
 '60 rue vitruve 75020 paris': 'Pole emploi Vitruve',
 '27 rue daviel 75013 paris': 'Pole emploi Daviel',
 '75 avenue jean jaures 75019 paris': 'Pole emploi Laumière',
 '11 rue maurice genevoix 75018 paris': 'Pole emploi Genevoix',
 '3 boulevard diderot 75012 paris': 'Pole emploi Diderot',
 '4 rue paul lelong 75002 paris': 'Pole emploi Paul Lelong',
 "26 rue vicq d'azir 75010 paris": "Pole emploi Vicq d'Azir",
 '78 boulevard ney 75018 paris': 'Pole emploi Ney',
 '51 rue piat 75020 paris': 'Pole emploi Piat',
 '9 rue friant 75014 paris': 'Pole emploi Jean Moulin'}

In [169]:
loc['object_address'] = loc['object_address'].str.lower().str.strip()
location['object_address'] = location['object_address'].str.lower().str.strip()

In [240]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     |████████████████████████████████| 119 kB 4.5 MB/s eta 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 6.2 MB/s eta 0:00:01
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Users/camille/repo/Hetic/projet_gouv/scraping/clean_data_env/bin/python3 -m pip install --upgrade pip' command.

In [241]:
location

              object_address years  nombre de reviews  note moyenne
0       Pole emploi Brancion  2016                  2      4.000000
1       Pole emploi Brancion  2017                 18      2.444444
2       Pole emploi Brancion  2018                 12      2.666667
3       Pole emploi Brancion  2019                 22      2.727273
4       Pole emploi Brancion  2020                 16      3.250000
..                       ...   ...                ...           ...
102  Pole emploi Jean Moulin  2020                  5      3.400000
103  Pole emploi Jean Moulin  2021                  4      4.000000
104  Pole emploi Jean Moulin  2022                  9      2.777778
105  Pole emploi Jean Moulin  2023                  2      2.500000
106                      NaN  2023                  1      1.000000

[107 rows x 4 columns]

In [304]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
geolocator = Nominatim(user_agent='my_geocoder')
# Parcours des adresses dans le DataFrame location
for index, row in location.iterrows():
    address = row['object_address']
    
    try:
        # Effectuer la requête de géocodage
        location_info = geolocator.geocode(address)
        
        # Extraire les coordonnées de latitude et de longitude s'il y a des résultats
        if location_info:
            latitude = location_info.latitude
            longitude = location_info.longitude
            
            # Mettre à jour les valeurs de latitude et de longitude dans le DataFrame location
            location.at[index, 'latitude'] = latitude
            location.at[index, 'longitude'] = longitude
            
    except GeocoderTimedOut:
        continue

In [258]:
location.to_csv('test.csv', index=False)

In [305]:
import plotly.express as px

# Coordonnées de Paris
paris_lat = 48.8566
paris_lon = 2.3522

# Créer une carte avec Plotly Express
fig = px.scatter_mapbox(location, lat='latitude', lon='longitude', hover_name='object_address',
                        hover_data={'nombre de reviews': True, 'note moyenne': ':.1f'}, zoom=10,
                        center=dict(lat=paris_lat, lon=paris_lon))

# Spécifier le style de la carte
fig.update_layout(mapbox_style='carto-positron')

# Personnaliser le format du texte dans l'info-bulle
fig.update_traces(hovertemplate='<b>%{hovertext}</b><br>Nombre de reviews: %{customdata[0]}<br>Note moyenne: %{customdata[1]:.1f}')

# Ajuster la taille de la figure
fig.update_layout(
    autosize=True,
    width=800,
    height=800,
)

# Afficher la carte
fig.show()

In [ ]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
import re
current_datetime = datetime.now()
data['date'] = data['date'].apply(lambda x: current_datetime - relativedelta(years=int(re.findall(r'\d+', x)[0])))

# Extraire uniquement la partie de la date
data['date'] = data['date'].apply(lambda x: x.date())

In [ ]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

# Exemple de DataFrame avec une colonne 'date' contenant des valeurs "6 years ago"
data = pd.DataFrame({'date': ['6 years ago', '3 years ago', '2 years ago']})

current_datetime = datetime.now()
data['date'] = data['date'].apply(lambda x: current_datetime - relativedelta(years=int(x.split()[0])))

# Extraire uniquement la partie de la date
data['date'] = data['date'].apply(lambda x: x.date())

data

In [ ]:
current_datetime = datetime.now()
data['date'] = data['date'].apply(lambda x: current_datetime - relativedelta(years=int(x.split()[0])))

data

In [ ]:
scap = pd.read_csv('/Users/camille/repo/Hetic/projet_gouv/scraping/scrape_paris.csv')

In [502]:
col = ['date', 'rate', 'review_text', 'object_address']
path = '/Users/camille/repo/Hetic/projet_gouv/scraping/Data/google_reviews.csv'
data =pd.read_csv(path, usecols=col)

data['date'] = data['date'].replace('a year ago', '1 year ago')
data['date'] = data['date'].replace('a month ago','1 month ago')
data['date'] = data['date'].replace('a week ago','1 week ago')

current_datetime = datetime.now()
data['date'] = data['date'].apply(lambda x: current_datetime - relativedelta(years=int(x.split()[0])) if 'year' in x
                                     else current_datetime - relativedelta(months=int(x.split()[0])) if 'month' in x
                                     else current_datetime - relativedelta(weeks=int(x.split()[0])) if 'week' in x
                                     else current_datetime - relativedelta(days=int(x.split()[0])) if 'day' in x
                                     else None)



# Extraire uniquement la partie de la date
data['date'] = data['date'].apply(lambda x: x.date())


data['date'] = pd.to_datetime(data['date'])

In [503]:
loc = pd.read_csv('/Users/camille/repo/Hetic/projet_gouv/scraping/Data/location.csv', sep=';')

In [504]:
loc.rename(columns={'adresse':'object_address'}, inplace=True)

In [451]:
address_to_lieu = loc.set_index('object_address')['name'].to_dict()

# Ajouter la colonne "name" au DataFrame location en utilisant la correspondance de object_address
location['object_address'] = location['object_address'].map(address_to_lieu)

In [452]:
data

,date,rate,review_text,object_address
0,2017-05-21,5,Perfect service! The team is so professional. ...,"10 Rue Brancion, 75015 Paris"
1,2023-03-21,1,Inadmissible et honteux tout simplement. Atten...,"10 Rue Brancion, 75015 Paris"
2,2023-01-21,2,Accueilli par une personne féminine d'un âge c...,"10 Rue Brancion, 75015 Paris"
3,2023-05-07,1,"Je suis Hassan Bashir, j'ai besoin de rendez-v...","10 Rue Brancion, 75015 Paris"
4,2022-05-21,1,De loin la pire agence.\nD'une incompétence sa...,"10 Rue Brancion, 75015 Paris"
...,...,...,...,...
672,2017-05-21,5,NaN,"9 Rue Friant, 75014 Paris"
673,2019-05-21,4,NaN,"9 Rue Friant, 75014 Paris"
674,2018-05-21,1,NaN,"9 Rue Friant, 75014 Paris"
675,2022-10-21,1,NaN,"9 Rue Friant, 75014 Paris"
676,2018-05-21,2,NaN,"9 Rue Friant, 75014 Paris"

In [467]:
loc

,Unnamed: 0,name,object_address,location
0,0,pole emploi AVS Placement Artistes,10 rue brancion 75015 paris,pole emploi AVS Placement Artistes 10 RUE BRAN...
1,1,Pole emploi Beaumarchais,11 rue pelee 75011 paris,Pole emploi Beaumarchais 11 RUE PELEE 75011 Paris
2,2,Pole emploi Cardinet,8 rue bernard buffet 75017 paris,Pole emploi Cardinet 8 RUE Bernard Buffet 7501...
3,3,pole emploi Armand Carrel,44 rue armand carrel 75019 paris,pole emploi Armand Carrel 44 RUE Armand Carrel...
4,4,Pole emploi Vitruve,60 rue vitruve 75020 paris,Pole emploi Vitruve 60 RUE Vitruve 75020 Paris
5,5,Pole emploi Daviel,27 rue daviel 75013 paris,Pole emploi Daviel 27 RUE Daviel 75013 Paris
6,6,Pole emploi Laumière,75 avenue jean jaures 75019 paris,Pole emploi Laumière 75 AVENUE JEAN JAURES 750...
7,7,Pole emploi Genevoix,11 rue maurice genevoix 75018 paris,Pole emploi Genevoix 11 RUE Maurice Genevoix 7...
8,8,Pole emploi Diderot,3 boulevard diderot 75012 paris,Pole emploi Diderot 3 BOULEVARD Diderot 75012 ...
9,9,Pole emploi Paul Lelong,4 rue paul lelong 75002 paris,Pole emploi Paul Lelong 4 RUE Paul Lelong 7500...
10,10,Pole emploi Vicq d'Azir,26 rue vicq d'azir 75010 paris,Pole emploi Vicq d'Azir 26 RUE Vicq d'Azir 750...
11,11,Pole emploi Brancion,10 rue brancion 75015 paris,Pole emploi Brancion 10 RUE Brancion 75015 Paris
12,12,Pole emploi Ney,78 boulevard ney 75018 paris,Pole emploi Ney 78 BOULEVARD Ney 75018 PARIS
13,13,Pole emploi Piat,51 rue piat 75020 paris,Pôle emploi - Paris 20ème Piat
14,14,Pole emploi Jean Moulin,9 rue friant 75014 paris,Pole emploi Jean Moulin 9 RUE FRIANT 75014 PARIS

In [506]:
loc['object_address'] = loc['object_address'].str.lower().str.strip()
data['object_address'] = data['object_address'].str.lower().str.strip()
#remove comma
data['object_address'] = data['object_address'].str.replace(',', '')

In [530]:
loc['object_address'] = loc['object_address'].str.replace('11 rue pelée 75011 paris', '11 rue pelee 75011 paris')
loc['object_address'] = loc['object_address'].str.replace('3 bd diderot 75012 paris', '3 boulevard diderot 75012 paris')
loc['object_address'] = loc['object_address'].str.replace('75 av. jean jaurès 75019 paris', '75 avenue jean jaures 75019 paris')
loc['object_address'] = loc['object_address'].str.replace('78 bd ney 75018 paris', '78 boulevard ney 75018 paris')

In [529]:
lieux

array(['10 rue brancion 75015 paris', '11 rue pelée 75011 paris',
       '8 rue bernard buffet 75017 paris',
       '44 rue armand carrel 75019 paris', '60 rue vitruve 75020 paris',
       '27 rue daviel 75013 paris', '75 av. jean jaurès 75019 paris',
       '11 rue maurice genevoix 75018 paris', '3 bd diderot 75012 paris',
       '4 rue paul lelong 75002 paris', "26 rue vicq d'azir 75010 paris",
       '78 bd ney 75018 paris', '51 rue piat 75020 paris',
       '9 rue friant 75014 paris', 'ƒadam'], dtype=object)

In [544]:
address_to_lieu = loc.set_index('object_address')['name'].to_dict()

# Ajouter la colonne "name" au DataFrame location en utilisant la correspondance de object_address
data['object_address'] = data['object_address'].map(address_to_lieu)

In [534]:
lieux = data['object_address'].unique()

In [535]:
lieux

array(['10 rue brancion 75015 paris', '11 rue pelee 75011 paris',
       '8 rue bernard buffet 75017 paris',
       '44 rue armand carrel 75019 paris', '60 rue vitruve 75020 paris',
       '27 rue daviel 75013 paris', '75 avenue jean jaures 75019 paris',
       '11 rue maurice genevoix 75018 paris',
       '3 boulevard diderot 75012 paris', '4 rue paul lelong 75002 paris',
       "26 rue vicq d'azir 75010 paris", '78 boulevard ney 75018 paris',
       '51 rue piat 75020 paris', '9 rue friant 75014 paris', 'ƒadam'],
      dtype=object)

In [536]:
address_to_lieu

{'10 rue brancion 75015 paris': 'Pole emploi Brancion',
 '11 rue pelee 75011 paris': 'Pole emploi Beaumarchais',
 '8 rue bernard buffet 75017 paris': 'Pole emploi Cardinet',
 '44 rue armand carrel 75019 paris': 'pole emploi Armand Carrel',
 '60 rue vitruve 75020 paris': 'Pole emploi Vitruve',
 '27 rue daviel 75013 paris': 'Pole emploi Daviel',
 '75 avenue jean jaures 75019 paris': 'Pole emploi Laumière',
 '11 rue maurice genevoix 75018 paris': 'Pole emploi Genevoix',
 '3 boulevard diderot 75012 paris': 'Pole emploi Diderot',
 '4 rue paul lelong 75002 paris': 'Pole emploi Paul Lelong',
 "26 rue vicq d'azir 75010 paris": "Pole emploi Vicq d'Azir",
 '78 boulevard ney 75018 paris': 'Pole emploi Ney',
 '51 rue piat 75020 paris': 'Pole emploi Piat',
 '9 rue friant 75014 paris': 'Pole emploi Jean Moulin'}

In [538]:
for lieu in lieux:
    if lieu not in address_to_lieu:
        print(f"Lieu '{lieu}' non trouvé dans address_to_lieu")

Lieu 'ƒadam' non trouvé dans address_to_lieu

In [532]:
data['object_address'] = data['object_address'].str.replace('11 rue pelée 75011 paris', '11 rue pelee 75011 paris')
data['object_address'] = data['object_address'].str.replace('3 bd diderot 75012 paris', '3 boulevard diderot 75012 paris')
data['object_address'] = data['object_address'].str.replace('75 av. jean jaurès 75019 paris', '75 avenue jean jaures 75019 paris')
data['object_address'] = data['object_address'].str.replace('78 bd ney 75018 paris', '78 boulevard ney 75018 paris')

In [547]:
data['object_address'] = data['object_address'].str.lower().str.strip()
#enleve les virgules et accents
data['object_address'] = data['object_address'].str.replace(',', '')
data['object_address'].unique()

array(['pole emploi brancion', 'pole emploi beaumarchais',
       'pole emploi cardinet', 'pole emploi armand carrel',
       'pole emploi vitruve', 'pole emploi daviel',
       'pole emploi laumière', 'pole emploi genevoix',
       'pole emploi diderot', 'pole emploi paul lelong',
       "pole emploi vicq d'azir", 'pole emploi ney', 'pole emploi piat',
       'pole emploi jean moulin', nan], dtype=object)

In [546]:
data.drop(data[data['object_address'] == 'ƒadam'].index, inplace=True)

In [548]:
data

,date,rate,review_text,object_address
0,2017-05-21,5,Perfect service! The team is so professional. ...,pole emploi brancion
1,2023-03-21,1,Inadmissible et honteux tout simplement. Atten...,pole emploi brancion
2,2023-01-21,2,Accueilli par une personne féminine d'un âge c...,pole emploi brancion
3,2023-05-07,1,"Je suis Hassan Bashir, j'ai besoin de rendez-v...",pole emploi brancion
4,2022-05-21,1,De loin la pire agence.\nD'une incompétence sa...,pole emploi brancion
...,...,...,...,...
672,2017-05-21,5,NaN,pole emploi jean moulin
673,2019-05-21,4,NaN,pole emploi jean moulin
674,2018-05-21,1,NaN,pole emploi jean moulin
675,2022-10-21,1,NaN,pole emploi jean moulin
676,2018-05-21,2,NaN,pole emploi jean moulin

In [551]:
data['date'] = pd.to_datetime(data['date'])
# Regrouper les données par année
data['years'] = data['date'].dt.to_period('Y')
df_year_lieu = data.groupby(['object_address', 'years']).agg({'rate': ['count', 'mean']}).reset_index()
df_year_lieu.loc[df_year_lieu.groupby(['years'])['rate']['mean'].idxmax()]

In [553]:
df_year_lieu.reset_index(inplace=True)

In [563]:
import pandas as pd

data['date'] = pd.to_datetime(data['date'])
# Regrouper les données par année
data['years'] = data['date'].dt.to_period('Y')
df_year_lieu = data.groupby(['object_address']).agg(count_rate=('rate', 'count'), mean_rate=('rate', 'mean')).reset_index()
df_year_lieu

                object_address years  count_rate  mean_rate
0    pole emploi armand carrel  2016           1       1.00
1    pole emploi armand carrel  2017           5       3.20
2    pole emploi armand carrel  2018           4       3.00
3    pole emploi armand carrel  2019           8       2.75
4    pole emploi armand carrel  2020           7       2.00
..                         ...   ...         ...        ...
101        pole emploi vitruve  2019           4       2.75
102        pole emploi vitruve  2020           5       3.40
103        pole emploi vitruve  2021           2       3.00
104        pole emploi vitruve  2022          11       3.00
105        pole emploi vitruve  2023           2       1.00

[106 rows x 4 columns]

In [584]:
df_lieu = data.groupby(['object_address']).agg(count_rate=('rate', 'count'), mean_rate=('rate', 'mean')).reset_index()

In [600]:
# afficher un tableau avec les lieux et le nombre de reviews
top = df_lieu.sort_values(by='mean_rate', ascending=False).head(1)

In [597]:
df_lieu.sort_values(by='mean_rate', ascending=False)

               object_address  count_rate  mean_rate
8        pole emploi laumière          25   3.200000
6        pole emploi genevoix          29   3.034483
11           pole emploi piat          20   3.000000
13        pole emploi vitruve          35   2.914286
7     pole emploi jean moulin          39   2.820513
2        pole emploi brancion         124   2.758065
12    pole emploi vicq d'azir          31   2.741935
10    pole emploi paul lelong          27   2.592593
1    pole emploi beaumarchais          32   2.562500
4          pole emploi daviel          82   2.500000
3        pole emploi cardinet          77   2.441558
0   pole emploi armand carrel          47   2.425532
9             pole emploi ney          54   2.296296
5         pole emploi diderot          54   2.129630

In [602]:
top['object_address'].values[0]

'pole emploi laumière'

In [599]:
min

        object_address  count_rate  mean_rate
5  pole emploi diderot          54    2.12963

In [598]:
min = df_lieu.sort_values(by='mean_rate', ascending=True).head(1)

In [570]:
top

                object_address years  count_rate  mean_rate
5    pole emploi armand carrel  2021          11   2.090909
16        pole emploi brancion  2017          18   2.444444
17        pole emploi brancion  2018          12   2.666667
18        pole emploi brancion  2019          22   2.727273
19        pole emploi brancion  2020          16   3.250000
20        pole emploi brancion  2021          18   2.666667
21        pole emploi brancion  2022          22   3.000000
22        pole emploi brancion  2023          14   2.285714
25        pole emploi cardinet  2019          12   2.166667
27        pole emploi cardinet  2021          13   3.000000
28        pole emploi cardinet  2022          24   2.958333
32          pole emploi daviel  2018          14   2.071429
34          pole emploi daviel  2020          16   3.625000
36          pole emploi daviel  2022          16   2.625000
73             pole emploi ney  2018          11   1.909091
77             pole emploi ney  2022          11   2.636364
97     pole emploi vicq d'azir  2022          12   2.916667
104        pole emploi vitruve  2022          11   3.000000

In [555]:
# Note moyenne la plus élévé par année et par lieu
df_year_lieu.loc[df_year_lieu.groupby(['years'])['rate']['mean'].idxmax()]

IndexError: Column(s) rate already selected