In [1]:
import pandas as pd

In [3]:
import pandas as pd
cols = ('date', 'rate', 'review_text', 'object_name', 'object_address', 'overall_rating')
all_data = pd.read_csv('/Users/camille/repo/Hetic/projet_gouv/scraping/Data/scrape_paris.csv', usecols=cols)

In [4]:
all_data

,date,rate,review_text,object_name,object_address,overall_rating
0,il y a 3 mois,5,Agence totalmente désorganisée avec un fonctio...,Pôle emploi,"75 Av. Jean Jaurès, 75019 Paris","3,2"
1,il y a 5 mois,5,Toujours bien accueillie. Très bonne organisat...,Pôle emploi,"75 Av. Jean Jaurès, 75019 Paris","3,2"
2,il y a un an,5,"Meilleur service client, rapide Employés servi...",Pôle emploi,"75 Av. Jean Jaurès, 75019 Paris","3,2"
3,il y a 2 ans,5,"Bien loin des clichés, des gens efficaces, com...",Pôle emploi,"75 Av. Jean Jaurès, 75019 Paris","3,2"
4,il y a 2 ans,5,Une équipe qui fait son maximum pour vous aider.,Pôle emploi,"75 Av. Jean Jaurès, 75019 Paris","3,2"
...,...,...,...,...,...,...
1022,il y a 2 mois,5,NaN,Pôle emploi,"10 Rue Brancion, 75015 Paris","2,8"
1023,il y a 6 ans,5,NaN,Pôle emploi,"10 Rue Brancion, 75015 Paris","2,8"
1024,il y a 2 ans,5,NaN,Pôle emploi,"10 Rue Brancion, 75015 Paris","2,8"
1025,il y a 7 ans,5,NaN,Pôle emploi,"10 Rue Brancion, 75015 Paris","2,8"
1026,il y a 2 ans,5,NaN,Pôle emploi,"10 Rue Brancion, 75015 Paris","2,8"

In [7]:
all_data['rate'].value_counts()

rate
5    1027
Name: count, dtype: int64