In [1]:
from data_prep import DataProcessor

In [2]:
import pandas as pd

In [5]:
data_file = '/Users/camille/repo/Hetic/projet_gouv/scraping/all_data/google_reviews_RGPD.csv'
df_scraped_data = pd.read_csv(data_file)
columns = df_scraped_data.columns
# Préparation des données
data_processor = DataProcessor(data_file)
data_processor.process_data(columns)
data = data_processor.data

In [6]:
data

,date,rate,review_text,object_address,review_num,years
0,2023-04-02,1,Pas de formation possible\nPas de financement ...,"5 Rue de Quimper, 68100 Mulhouse",32,2023
1,2023-05-02,1,"Aucun respect, j’explique pourtant bien mon so...","5 Rue de Quimper, 68100 Mulhouse",32,2023
2,2023-02-02,1,"Les fonctionnaires incompétents, arrogants et ...","5 Rue de Quimper, 68100 Mulhouse",32,2023
3,2022-09-02,1,"Aucun respect, j’explique pourtant bien mon so...","5 Rue de Quimper, 68100 Mulhouse",32,2022
4,2022-09-02,1,Si je pouvais ne pas mettre d'étoiles je n'en ...,"5 Rue de Quimper, 68100 Mulhouse",32,2022
...,...,...,...,...,...,...
16640,2020-06-02,5,NaN,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2020
16641,2018-06-02,1,NaN,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2018
16642,2022-06-02,1,NaN,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2022
16643,2022-11-02,1,NaN,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2022
16644,2023-05-26,1,Ces gens la sont vraiment bloqués dans leur pe...,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2023

In [15]:
import pandas as pd
import spacy

# Charger le modèle de langue français
nlp = spacy.load("fr_core_news_sm")
nlp.max_length = 2000000



dependances_incluses = ['nsubj', 'xcomp', 'obl:mod', 'acl', 'conj', 'amod']
stop_words = spacy.lang.fr.stop_words.STOP_WORDS

data['cleaned_text'] = data['review_text'].astype(str)
data.dropna(inplace=True)



# Lemmatisation des termes des avis négatifs
data_terms = data['cleaned_text'].apply(lambda x: [token.lemma_ for token in nlp(x) if token.dep_ in dependances_incluses and token.text.lower() not in stop_words])
#delete ponctuation sur cleaned_text
data['cleaned_text'] = data['cleaned_text'].str.replace('[^\w\s]','')
#  lower sur cleaned_text
data['cleaned_text'] = data['cleaned_text'].str.lower()
# delete \n sur cleaned_text
data['cleaned_text'] = data['cleaned_text'].str.replace('\n','')
# Ajouter les colonnes pos_reviews_terms et data_terms au DataFrame
data['data_terms'] = data_terms

# Enregistrement des données avec les colonnes ajoutées

/var/folders/vh/yn_93j315gn6jdvz7f2d73_m0000gn/T/ipykernel_85797/4017256191.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  data['cleaned_text'] = data['cleaned_text'].str.replace('[^\w\s]','')

In [33]:
# utilse que years ==2023 
data_2023 = data[data['years'] == '2023']
# groupe par mois sans de colonne mois 
data_2023['date'] = pd.to_datetime(data_2023['date'])

/var/folders/vh/yn_93j315gn6jdvz7f2d73_m0000gn/T/ipykernel_85797/1963136898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2023['date'] = pd.to_datetime(data_2023['date'])

In [34]:
data_2023['month'] = data_2023['date'].dt.month

/var/folders/vh/yn_93j315gn6jdvz7f2d73_m0000gn/T/ipykernel_85797/3859687683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2023['month'] = data_2023['date'].dt.month

In [35]:
data_2023

,date,rate,review_text,object_address,review_num,years,cleaned_text,data_terms,month
0,2023-04-02,1,Pas de formation possible\nPas de financement ...,"5 Rue de Quimper, 68100 Mulhouse",32,2023,pas de formation possiblepas de financement po...,"[rendre, inutile, réactif]",4
1,2023-05-02,1,"Aucun respect, j’explique pourtant bien mon so...","5 Rue de Quimper, 68100 Mulhouse",32,2023,aucun respect jexplique pourtant bien mon souc...,"[respect, souci, comprendre, tourner, rond, do...",5
2,2023-02-02,1,"Les fonctionnaires incompétents, arrogants et ...","5 Rue de Quimper, 68100 Mulhouse",32,2023,les fonctionnaires incompétents arrogants et p...,"[fonctionnaire, arrogant, prétentieux, transfo...",2
32,2023-05-02,4,Le lieu n'est pas forcément agréable mais les ...,"7 Rue Jean Fougerat, 16000 Angoulême",31,2023,le lieu nest pas forcément agréable mais les h...,"[lieu, agréable, hôtesse, hôte, disponible, se...",5
35,2023-01-02,1,Toujours bloqué pour la démarche effectué et t...,"7 Rue Jean Fougerat, 16000 Angoulême",31,2023,toujours bloqué pour la démarche effectué et t...,"[effectuer, moyen, demande]",1
...,...,...,...,...,...,...,...,...,...
16546,2023-05-02,3,"C'est pas moi, et là personne qui y va me dit ...","13 Rue Norbert Portejoie, 86400 Civray",8,2023,cest pas moi et là personne qui y va me dit qu...,[],5
16547,2023-01-02,5,Pole emploi nous proposes des activités captiv...,"18 Rue Pierre-Félix Delarue, 72000 Le Mans",64,2023,pole emploi nous proposes des activités captiv...,"[emploi, captivant, intelligent, apprécier, mo...",1
16575,2023-01-02,1,Aucune réponse,"18 Rue Pierre-Félix Delarue, 72000 Le Mans",64,2023,aucune réponse,[],1
16612,2023-03-02,1,Toujours décevant de voir des agents payés à r...,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2023,toujours décevant de voir des agents payés à r...,"[voir, payer, faire, petit]",3
16644,2023-05-26,1,Ces gens la sont vraiment bloqués dans leur pe...,"45 Av. Billaud Varenne, 17000 La Rochelle",34,2023,ces gens la sont vraiment bloqués dans leur pe...,"[petit, monde]",5